* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 1.3rem 2.1rem;
  border: none;
  border-radius: 0.4rem;
  background: #192a56;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: background 0.2s ease-in-out;
}
button:hover {
  background: #273c75;
}

li,
label,
input,
p {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 2.6rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

.main-head {
  background: #0f0e0e;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 0;
}
.main-head nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main-head nav #logo {
  flex: 2 1 40rem;
}
.main-head nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.main-head nav ul a:hover {
  border-bottom: 1px solid #fff;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url("/img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.hero h3 {
  padding: 5rem 0;
}

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/location.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
}
#locations .locations-head {
  width: 90%;
  margin: auto;
}
#locations .locations-head h2 {
  padding: 1rem 0;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}
#locations .locations-head h3 {
  padding: 4rem 0;
}

#benefits .benefits-head {
  background: #0f0e0e;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  flex-direction: column;
  padding: 3rem;
}
#benefits .benefits-head h3 {
  padding: 1rem;
}
#benefits .cards {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 40vh;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#benefits .cards .card {
  flex: 1 1 25rem;
  margin: 2rem 5rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
#benefits .cards .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#benefits .cards .card h4,
#benefits .cards .card p {
  padding: 1rem;
}

#contact {
  min-height: 100vh;
  z-index: 9500;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url("/img/contact.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .form-wrapper {
  background: rgba(0, 0, 0, 0.8);
  width: 60%;
  color: #fff;
  border-radius: 2rem;
}
#contact .form-wrapper label {
  margin: 0 3rem;
}
#contact .form-wrapper button {
  font-size: 1.8rem;
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
#contact .form-wrapper input {
  padding: 1rem 2rem;
}
#contact .form-wrapper .form-head {
  text-align: center;
  padding: 4rem;
}
#contact .form-wrapper .name-form,
#contact .form-wrapper .email-form {
  padding: 3rem;
  text-align: center;
}

footer {
  color: #0f0e0e;
  background: #fff;
}
footer .footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer .footer-wrapper img {
  width: 2.8rem;
}
footer .footer-wrapper h5 {
  flex: 2 1 40rem;
}
footer .footer-wrapper ul {
  list-style: none;
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 672px) {
  nav {
    text-align: center;
  }
  nav #logo {
    padding: 2rem;
  }
  footer {
    text-align: center;
  }
  h5 {
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .form-wrapper {
    width: 95% !important;
    margin: auto;
  }
}
@media screen and (max-width: 374px) {
  .name-form,
.email-form {
    padding: 1rem !important;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 40%;
  }
}/*# sourceMappingURL=style.css.map */